body {
    background-color: gray;
}

.content {
    max-width: 1200px;
    margin: auto;
}

.flex-container {
    background-color: rgb(135, 143, 121);
    max-width: 150px;
    display: flex;
}

.item {
    width: 100%;
    height: 100px;
}

.first {
    background-color: rgb(202, 135, 34);
}

.second {
    background-color: rgb(151, 43, 106);
}

.third {
    background-color: rgb(51, 129, 180);
}